
@font-face {
    font-family:"Avenir Next Ultra Light Italic";
    src:url("AvenirNext-UltraLightItalic-12.woff2") format("woff2"),url("AvenirNext-UltraLightItalic-12.woff") format("woff"),url("AvenirNext-UltraLightItalic-12.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        