
@font-face {
    font-family:"Avenir Next Medium Italic";
    src:url("AvenirNext-MediumItalic-07.woff2") format("woff2"),url("AvenirNext-MediumItalic-07.woff") format("woff"),url("AvenirNext-MediumItalic-07.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        