
@font-face {
    font-family:"AvenirNext-UltraLight";
    src:url("AvenirNext-UltraLight-11.woff2") format("woff2"),url("AvenirNext-UltraLight-11.woff") format("woff"),url("AvenirNext-UltraLight-11.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        