
@font-face {
    font-family:"Avenir Next Regular";
    src:url("AvenirNext-Regular-08.woff2") format("woff2"),url("AvenirNext-Regular-08.woff") format("woff"),url("AvenirNext-Regular-08.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        