
@font-face {
    font-family:"Avenir Next Heavy";
    src:url("AvenirNext-Heavy-09.woff2") format("woff2"),url("AvenirNext-Heavy-09.woff") format("woff"),url("AvenirNext-Heavy-09.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        