
@font-face {
    font-family:"Avenir Next Demi Bold Italic";
    src:url("AvenirNext-DemiBoldItalic-04.woff2") format("woff2"),url("AvenirNext-DemiBoldItalic-04.woff") format("woff"),url("AvenirNext-DemiBoldItalic-04.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        