
@font-face {
    font-family:"Avenir Next Italic";
    src:url("AvenirNext-Italic-05.woff2") format("woff2"),url("AvenirNext-Italic-05.woff") format("woff"),url("AvenirNext-Italic-05.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        