
@font-face {
    font-family:"Avenir Next Bold";
    src:url("AvenirNext-Bold-01.woff2") format("woff2"),url("AvenirNext-Bold-01.woff") format("woff"),url("AvenirNext-Bold-01.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        