
@font-face {
    font-family:"Avenir Next Bold Italic";
    src:url("AvenirNext-BoldItalic-02.woff2") format("woff2"),url("AvenirNext-BoldItalic-02.woff") format("woff"),url("AvenirNext-BoldItalic-02.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        