
@font-face {
    font-family:"Avenir Next Medium";
    src:url("AvenirNext-Medium-06.woff2") format("woff2"),url("AvenirNext-Medium-06.woff") format("woff"),url("AvenirNext-Medium-06.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        